<div class="w3-container goal-container">
   <img src="../assets/icons/house-icon.jpg" class="home-icon" (click)="goHome()">
   <div class="w3-center">
      <h4>{{ goal.name }}</h4>
      <div class="w3-padding">
         <h5>{{ goal.target | currency}}</h5>
      </div>
      <div class="w3-row-padding">
         <div *ngFor="let increment of goal.increments; let i = index" class="w3-col s2 w3-padding">
            <div *ngIf="increment.completed">
               <img src="../assets/icons/filled-{{goal.icon}}.jpg" class="goal-icon-finished">
               <h5>{{ goal.increment | currency }}</h5>
            </div>
            <div *ngIf="!increment.completed" class="canvas-container">
               <canvas id="canvas{{i}}" width="100" height="100" style="margin: auto; border: 1px solid black;">

               </canvas>
               <img src="../assets/icons/empty-{{goal.icon}}.png" class="goal-icon"
               (mousemove)="ev_canvas($event, i)" (mousedown)="ev_canvas($event, i)" (mouseup)="ev_canvas($event, i)">
               <h5 class="goal-increment-title">{{ goal.increment | currency }}</h5>
            </div>
            
         </div>
      </div>
      
   </div>
</div>
<!-- <canvas id="canvas" width="100" height="100" style="margin: auto; border: 1px solid black;"
(mousemove)="ev_canvas($event)" (mousedown)="ev_canvas($event)" (mouseup)="ev_canvas($event)"
(touchstart)="ev_canvas($event)" (touchmove)="ev_canvas($event)" (touchend)="ev_canvas($event)">

</canvas> -->
