.goal-container {
   width: 95%;
   height: 75vh;
   overflow-y: scroll;
   background-color: white;
   margin: auto;
   color: black;
}

.goal-form {
   width: 400px;
   margin: auto;
}

.home-icon {
   width: 40px;
   float: left;
   position: absolute;
   top: 80px;
   left: 80px;
   background-color: #2B4D59;
}

.home-icon:hover {
   cursor: pointer;
}